.show-item-wrapper {
  display: flex;
  min-width: 100%;
  .viewer-wrapper {
    border: 1px solid black;
    min-width: 60%;
  }

  .details-wrapper {
    min-width: 40%;
    border: 1px solid black;
  }
}
